In [2]:
### Analyse the results

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os


### Analyzing Simulation Results

# read the simulation data from the csv file
df = pd.read_csv('001. Simulation Data/restaurant_simulation.csv')


# show first element of the event log
print(df['Event Log'][0])

# convert df['Event Log'][0] to a list of tuples
event_log = eval(df['Event Log'][0])

# create a data frame from the event log
event_log_df = pd.DataFrame(event_log, columns = ['Case ID', 'Time', 'Activity'])

# create a new column for the simulation number simid
event_log_df['simid'] = 0

# move simid to the front of the data frame
cols = event_log_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
event_log_df = event_log_df[cols]

# show the first 10 rows of the event log data frame
print(event_log_df.head(10))

# now repeat the process for the entire data frame df and create a new data frame
# event_log_df_all that contains all the event log data for all simulations

# create an empty list to hold the data frames
dfs = []

# iterate over the rows of the data frame df
for i in range(df.shape[0]):
    event_log = eval(df['Event Log'][i])
    event_log_df = pd.DataFrame(event_log, columns = ['Case ID', 'Time', 'Activity'])
    event_log_df['simid'] = i
    cols = event_log_df.columns.tolist()
    cols = cols[-1:] + cols[:-1]
    event_log_df = event_log_df[cols]
    dfs.append(event_log_df)

# concatenate the list of data frames into a single data frame
event_log_df_all = pd.concat(dfs)

# break line and show the first 10 rows of the event log data frame
print("\n")
print("---------------------------------------------------------")
print("\n")
print("First 10 rows of the event log data frame")
print("\n")
print(event_log_df_all.head(10))

# break line and show the last 10 rows of the event log data frame
print("\n")
print("---------------------------------------------------------")
print("\n")
print("Last 10 rows of the event log data frame")
print("\n")
print(event_log_df_all.tail(10))

[(0, 0, 'null_start_simulation'), (0, 0, 'start_simulation'), (1, 17, 'arrival'), (1, 17, 'join_queue_takeout'), (1, 17, 'cooking'), (1, 20, 'finished_takeout'), (1, 20, 'leaving_takeout'), (2, 23, 'arrival'), (2, 23, 'join_queue_takeout'), (2, 23, 'cooking'), (2, 26, 'finished_takeout'), (2, 26, 'leaving_takeout'), (3, 32, 'arrival'), (3, 32, 'join_queue_takeout'), (3, 32, 'cooking'), (3, 35, 'finished_takeout'), (3, 35, 'leaving_takeout'), (4, 37, 'arrival'), (4, 37, 'join_queue_dinein'), (4, 37, 'seated'), (4, 37, 'served'), (4, 42, 'finished_eating'), (4, 42, 'paying'), (4, 43, 'leaving'), (5, 48, 'arrival'), (5, 48, 'join_queue_dinein'), (5, 48, 'seated'), (5, 48, 'served'), (5, 53, 'finished_eating'), (5, 53, 'paying'), (5, 54, 'leaving'), (6, 57, 'arrival'), (6, 57, 'join_queue_takeout'), (6, 57, 'cooking'), (7, 59, 'arrival'), (7, 59, 'join_queue_dinein'), (7, 59, 'seated'), (7, 59, 'served'), (6, 60, 'finished_takeout'), (6, 60, 'leaving_takeout'), (7, 64, 'finished_eating'), (7, 64, 'paying'), (7, 65, 'leaving'), (8, 92, 'arrival'), (8, 92, 'join_queue_dinein'), (8, 92, 'seated'), (8, 92, 'served'), (9, 93, 'arrival'), (9, 93, 'join_queue_takeout'), (9, 93, 'cooking'), (9, 96, 'finished_takeout'), (9, 96, 'leaving_takeout'), (8, 97, 'finished_eating'), (8, 97, 'paying'), (10, 97, 'arrival'), (10, 97, 'join_queue_takeout'), (10, 97, 'cooking'), (8, 98, 'leaving'), (10, 100, 'finished_takeout'), (10, 100, 'leaving_takeout'), (11, 107, 'arrival'), (11, 107, 'join_queue_dinein'), (11, 107, 'seated'), (11, 107, 'served'), (12, 108, 'arrival'), (12, 108, 'join_queue_takeout'), (12, 108, 'cooking'), (12, 111, 'finished_takeout'), (12, 111, 'leaving_takeout'), (11, 112, 'finished_eating'), (11, 112, 'paying'), (11, 113, 'leaving'), (13, 120, 'arrival'), (13, 120, 'join_queue_dinein'), (13, 120, 'seated'), (13, 120, 'served'), (13, 125, 'finished_eating'), (13, 125, 'paying'), (13, 126, 'leaving'), (14, 136, 'arrival'), (14, 136, 'join_queue_takeout'), (14, 136, 'cooking'), (14, 139, 'finished_takeout'), (14, 139, 'leaving_takeout'), (15, 154, 'arrival'), (15, 154, 'join_queue_dinein'), (15, 154, 'seated'), (15, 154, 'served'), (16, 156, 'arrival'), (16, 156, 'join_queue_takeout'), (17, 156, 'arrival'), (17, 156, 'join_queue_takeout'), (16, 156, 'cooking'), (18, 156, 'arrival'), (18, 156, 'join_queue_takeout'), (17, 156, 'cooking'), (18, 157.9414718525739, 'impatience'), (15, 159, 'finished_eating'), (15, 159, 'paying'), (16, 159, 'finished_takeout'), (16, 159, 'leaving_takeout'), (17, 159, 'finished_takeout'), (17, 159, 'leaving_takeout'), (15, 160, 'leaving'), (19, 170, 'arrival'), (19, 170, 'join_queue_dinein'), (19, 170, 'seated'), (19, 170, 'served'), (19, 175, 'finished_eating'), (19, 175, 'paying'), (19, 176, 'leaving'), (20, 185, 'arrival'), (20, 185, 'join_queue_dinein'), (20, 185, 'seated'), (20, 185, 'served'), (20, 190, 'finished_eating'), (20, 190, 'paying'), (20, 191, 'leaving'), (21, 201, 'arrival'), (21, 201, 'join_queue_takeout'), (21, 201, 'cooking'), (21, 204, 'finished_takeout'), (21, 204, 'leaving_takeout'), (22, 214, 'arrival'), (22, 214, 'join_queue_dinein'), (22, 214, 'seated'), (22, 214, 'served'), (22, 219, 'finished_eating'), (22, 219, 'paying'), (23, 220, 'arrival'), (22, 220, 'leaving'), (23, 220, 'join_queue_dinein'), (23, 220, 'seated'), (23, 220, 'served'), (23, 225, 'finished_eating'), (23, 225, 'paying'), (23, 226, 'leaving'), (24, 263, 'arrival'), (24, 263, 'join_queue_takeout'), (24, 263, 'cooking'), (24, 266, 'finished_takeout'), (24, 266, 'leaving_takeout'), (25, 275, 'arrival'), (25, 275, 'join_queue_takeout'), (25, 275, 'cooking'), (25, 278, 'finished_takeout'), (25, 278, 'leaving_takeout'), (26, 285, 'arrival'), (26, 285, 'join_queue_dinein'), (26, 285, 'seated'), (26, 285, 'served'), (26, 290, 'finished_eating'), (26, 290, 'paying'), (26, 291, 'leaving'), (27, 300, 'arrival'), (27, 300, 'join_queue_dinein'), (27, 300, 'seated'), (27, 300, 'served'), (27, 305, 'finished_eating'), (27, 305, 'paying'), (27, 306, 'leaving'), (28, 312, 'arrival'), (28, 312, 'join_queue_takeout'), (28, 312, 'cooking'), (28, 315, 'finished_takeout'), (28, 315, 'leaving_takeout'), (29, 349, 'arrival'), (29, 349, 'join_queue_dinein'), (30, 349, 'arrival'), (30, 349, 'join_queue_dinein'), (29, 349, 'seated'), (29, 349, 'served'), (30, 350.1814377445185, 'impatience'), (29, 354, 'finished_eating'), (29, 354, 'paying'), (29, 355, 'leaving'), (31, 390, 'arrival'), (31, 390, 'join_queue_takeout'), (31, 390, 'cooking'), (31, 393, 'finished_takeout'), (31, 393, 'leaving_takeout'), (32, 394, 'arrival'), (32, 394, 'join_queue_takeout'), (32, 394, 'cooking'), (32, 397, 'finished_takeout'), (32, 397, 'leaving_takeout'), (33, 399, 'arrival'), (33, 399, 'join_queue_takeout'), (33, 399, 'cooking'), (33, 402, 'finished_takeout'), (33, 402, 'leaving_takeout'), (34, 432, 'arrival'), (34, 432, 'join_queue_takeout'), (34, 432, 'cooking'), (35, 433, 'arrival'), (35, 433, 'join_queue_takeout'), (35, 433, 'cooking'), (34, 435, 'finished_takeout'), (34, 435, 'leaving_takeout'), (36, 435, 'arrival'), (36, 435, 'join_queue_takeout'), (36, 435, 'cooking'), (35, 436, 'finished_takeout'), (35, 436, 'leaving_takeout'), (36, 438, 'finished_takeout'), (36, 438, 'leaving_takeout'), (37, 451, 'arrival'), (37, 451, 'join_queue_takeout'), (37, 451, 'cooking'), (37, 454, 'finished_takeout'), (37, 454, 'leaving_takeout'), (38, 456, 'arrival'), (38, 456, 'join_queue_takeout'), (38, 456, 'cooking'), (38, 459, 'finished_takeout'), (38, 459, 'leaving_takeout'), (39, 476, 'arrival'), (39, 476, 'join_queue_takeout'), (39, 476, 'cooking'), (39, 479, 'finished_takeout'), (39, 479, 'leaving_takeout')]
   simid  Case ID  Time               Activity
0      0        0   0.0  null_start_simulation
1      0        0   0.0       start_simulation
2      0        1  17.0                arrival
3      0        1  17.0     join_queue_takeout
4      0        1  17.0                cooking
5      0        1  20.0       finished_takeout
6      0        1  20.0        leaving_takeout
7      0        2  23.0                arrival
8      0        2  23.0     join_queue_takeout
9      0        2  23.0                cooking


---------------------------------------------------------


First 10 rows of the event log data frame


   simid  Case ID  Time               Activity
0      0        0   0.0  null_start_simulation
1      0        0   0.0       start_simulation
2      0        1  17.0                arrival
3      0        1  17.0     join_queue_takeout
4      0        1  17.0                cooking
5      0        1  20.0       finished_takeout
6      0        1  20.0        leaving_takeout
7      0        2  23.0                arrival
8      0        2  23.0     join_queue_takeout
9      0        2  23.0                cooking


---------------------------------------------------------


Last 10 rows of the event log data frame


     simid  Case ID        Time           Activity
270     99       49  444.000000            arrival
271     99       49  444.000000  join_queue_dinein
272     99       50  444.000000            arrival
273     99       50  444.000000  join_queue_dinein
274     99       49  444.000000             seated
275     99       49  444.000000             served
276     99       50  445.988897         impatience
277     99       49  449.000000    finished_eating
278     99       49  449.000000             paying
279     99       49  450.000000            leaving

In [4]:
# pivot the data frame
# simid and Case ID are the index
# Activity is the column
# Time is the value
pivot_df = event_log_df_all.pivot_table(index = ['simid', 'Case ID'], columns = 'Activity', values = 'Time', aggfunc = 'first')

# show the first 10 rows of the pivot data frame
print("\n")
print("---------------------------------------------------------")
print("\n")
print("First 10 rows of the pivot data frame")
print("\n")
pivot_df.head(10)

---------------------------------------------------------


First 10 rows of the pivot data frame

Activity       arrival  cooking  finished_eating  finished_takeout  \
simid Case ID
0     0            NaN      NaN              NaN               NaN
      1           17.0     17.0              NaN              20.0
      2           23.0     23.0              NaN              26.0
      3           32.0     32.0              NaN              35.0
      4           37.0      NaN             42.0               NaN
      5           48.0      NaN             53.0               NaN
      6           57.0     57.0              NaN              60.0
      7           59.0      NaN             64.0               NaN
      8           92.0      NaN             97.0               NaN
      9           93.0     93.0              NaN              96.0

Activity       impatience  join_queue_dinein  join_queue_takeout  leaving  \
simid Case ID
0     0               NaN                NaN                 NaN      NaN
      1               NaN                NaN                17.0      NaN
      2               NaN                NaN                23.0      NaN
      3               NaN                NaN                32.0      NaN
      4               NaN               37.0                 NaN     43.0
      5               NaN               48.0                 NaN     54.0
      6               NaN                NaN                57.0      NaN
      7               NaN               59.0                 NaN     65.0
      8               NaN               92.0                 NaN     98.0
      9               NaN                NaN                93.0      NaN

Activity       leaving_takeout  null_start_simulation  paying  seated  served  \
simid Case ID
0     0                    NaN                    0.0     NaN     NaN     NaN
      1                   20.0                    NaN     NaN     NaN     NaN
      2                   26.0                    NaN     NaN     NaN     NaN
      3                   35.0                    NaN     NaN     NaN     NaN
      4                    NaN                    NaN    42.0    37.0    37.0
      5                    NaN                    NaN    53.0    48.0    48.0
      6                   60.0                    NaN     NaN     NaN     NaN
      7                    NaN                    NaN    64.0    59.0    59.0
      8                    NaN                    NaN    97.0    92.0    92.0
      9                   96.0                    NaN     NaN     NaN     NaN

Activity       start_simulation
simid Case ID
0     0                     0.0
      1                     NaN
      2                     NaN
      3                     NaN
      4                     NaN
      5                     NaN
      6                     NaN
      7                     NaN
      8                     NaN
      9                     NaN